
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navigation Bar */
.navbar {
    background-color:  #008080;
    color: #fff;
    padding: 10px 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-right: 20px;
}

.navbar .nav-links li a {
    color: #fff;
    text-decoration: none;
}

/* Sections */
.section {
    padding: 50px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* start section 1 */
.section-1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-1-col-1{
    font-size: 4.375rem;
    position: absolute;
    top: 35%;
    left: 2%;
    line-height: 150px;
}

.section-1-col-2{
    position: relative;
    left: 63%;
}
span{
    color: #008080;
}


.logo{
    width: 100px;
}

.section-1-col-2 img{
    width: 100%;
    animation: fadeInFromTop .5s linear forwards, floating ease 4s infinite ;
}

@keyframes fadeInFromTop{
    from{
        opacity: 0;
        transform: translateY(-20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes floating{
    0%{
        transform: translate(0%, 0%) rotate(360deg);
    }
    25%{
        transform: translate(5%, 15%) rotate(360deg);
    }
    50%{
        transform: translate(10%, 5%) rotate(360deg);
    }
    75%{
        transform: translate(0%, 15%) rotate(360deg);
    }
    100%{
        transform: translate(0%, 0%) rotate(360deg);
    }
}
/* end of section 1 */


/* Footer */
footer {
    background-color: #008080;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px;
    color: #fff;
}




/* Styles for the card section */
.card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    width: calc(50% - 20px); 
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.card h3{
    margin-bottom: 20px;
}
.card p {
    margin-bottom: 20px;
}

.card button {
    padding: 10px 20px;
    background-color: #008080;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #005959;
}


@media only screen and (max-width: 800px){
    .card-container{
        display: block;
    }
}
    
